* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.wrapper_top {
  background: #301b1a;
}
.top {
  background: url('../images/bgtop.png') center center no-repeat;
  height: 950px;
  padding: 30px 130px;
}
.top a {
  color: #fff;
}
.header {
  margin-right: 65px;
  display: flex;
  justify-content: space-between;
  font-family: 'raleway medium', sans-serif;
}
.logo a {
  font-size: 28px;
}
.menu {
  display: flex;
}
.menu_offers {
  width: 470px;
  height: 30px;
  border-right: 1px solid #fff;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu_offers a {
  margin-right: 52px;
}
.menu_log {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
}
.menu_log>a {
  margin-left: 52px;
  font-weight: 600;
}
.register {
  height: 40px;
  width: 160px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-left: 42px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.register a {
  padding: 10px 30px;
}
.mid {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  font-family: 'raleway medium', sans-serif;
}
.mid_slogan_one {
  color: #fff;
  font-size: 52px;
  margin-top: 270px;
  margin-bottom: 15px;
}
.mid_slogan_two {
  color: #fff;
  font-size: 15px;
  opacity: 0.6;
  margin-bottom: 60px;
}
.mid input {
  height: 45px;
}
.wrapper_mid_input {
  display: flex;
  justify-content: center;
}
input[type="search"] {
  width: 380px;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  font-size: 17px;
  color: gray;
  border: none;
}
.search_ico {
  height: 45px;
  width: 20px;
  background: url('../images/search_ico.png') center center no-repeat;
  margin: 0 10px 0 -50px;
  display: flex;
}
.search_ico a {
  padding: 0 10px;
}
input[list="location"] {
  width: 200px;
  padding-left: 10px;
  color: gray;
  font-size: 17px;
  border: none;
  border-left: 1px solid #d3d3d3;
}
.wrapper_button {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #d3d3d3;
  width: 174px;
  border-radius: 0 5px 5px 0;
}
.button {
  height: 80%;
  width: 90%;
  border-radius: 5px;
  background: #3885e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button a {
  padding: 9px 42px;
}
.scroll_wrapper {
  margin-top: 310px;
  opacity: 0.8;
}
.scroll_wrapper p {
  color: white;
  text-align: center;
  font-family: 'raleway medium', sans-serif;
  font-size: 16px;
}
.scroll {
  background: url('../images/scroll.png')center center no-repeat;
  width: 40px;
  height: 40px;
  margin: -5px auto 0 auto;
}
.information {
  height: 550px;
  width: 100%;
}
.wrapper_header_inf {
  border-bottom: 1px solid gray;
  height: 100px;
  display: flex;
  justify-content: center;
}
.header_inf {
  height: 100px;
  width: 1200px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.header_inf a {
  font-size: 18px;
  color: dimgray;
  font-family: 'raleway medium', sans-serif;
}
.header_inf p {
  margin: 0 45px 0 45px;
  font-family: 'raleway medium', sans-serif;
}
.all_categories {
  display: flex;
  align-items: center;
}
.all_categories a {
  margin-left: 90px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: 'raleway medium', sans-serif;
  font-weight: 600;
  opacity: 0.9;
  font-size: 16px;
}
.all_categories a:hover {
  color: #3885e5;
  border: 2px solid #3885e5;
}
.header_inf>a:hover {
  color: #3885e5;
}
.header_inf p {
  color: gray;
}
.mid_inf {
  width: 970px;
  margin: auto;
}
.question {
  font-size: 36px;
  color: dimgray;
  text-align: center;
  font-family: 'raleway medium', sans-serif;
  margin-top: 90px;
}
.lorem {
  margin: 55px 12px 0 12px;
  font-size: 18px;
  color: gray;
  text-align: center;
  font-family: 'raleway medium', sans-serif;
}
.preview {
  height: 550px;
  width: 100%;
  display: flex;
  background: #000;
}
.wrapper_video_inf {
  width: 50%;
  height: 550px;
  background: #3885e5;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 85px;
}
.video_inf {
  width: 515px;
  height: 550px;
}
.big_text_video {
  font-size: 38px;
  font-family: 'raleway medium', sans-serif;
  color: white;
  margin-top: 90px;
}
.small_text_video {
  font-size: 19px;
  font-family: 'raleway medium', sans-serif;
  color: white;
  margin-top: 70px;
}
 .learn_more a {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 12px 30px;
  font-size: 18px;
  font-family: 'raleway medium', sans-serif;
}
.learn_more {
 margin-top: 110px;
}
.video {
  background: url('../images/video.png')center center no-repeat;
  height: 550px;
  width: 50%;
}
.play {
  background: url('../images/play.png') center center no-repeat;
  height: 550px;
  width: 100%;
}
.play a {
  height: 100%;
  width: 100%;
}
.wrapper_features {
  width: 100%;
  height: 550px;
  padding-top: 50px;
}
.top_text_features {
  font-size: 34px;
  font-family: 'raleway medium', sans-serif;
  color: black;
  opacity: 0.7;
  text-align: center;
  margin: 0 0;
}
.features {
  height: 550px;
  padding: 0 60px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}
.wrapper_feature {
  border: 2px solid lightgray;
  border-radius: 10px;
  margin: 0 20px;
  height: 340px;
  width: 570px;
  opacity: 0.4;
}
.wrapper_feature:hover {
  opacity: 1;
}
img {
  margin: 40px 0;
}
.feature {
  margin: 0 20px;
  height: 150px;
  flex-wrap: wrap;
  display: flex;
}
.tinder {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  line-height: 15px;
}
.tinder p {
  font-size: 20px;
  color: gray;
  font-family: 'raleway medium', sans-serif;
}
.tinder a {
  font-size: 20px;
  color: #3885e5;
  font-family: 'raleway medium', sans-serif;
}
.tinder p.state {
  font-size: 20px;
  color: lightgray;
}
.feature_lorem p {
  margin-left: 20px;
  font-size: 20px;
  font-family: 'raleway medium', sans-serif;
  margin-left: 50px;
  color: gray;
}
.link_read_more a {
  margin-left: 20px;
  font-weight: 600;
  font-size: 22px;
  color: #3885e5;
  font-family: 'raleway medium', sans-serif;
  margin-left: 50px;
}
