* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.wrapper {
  height: 4313px;
  background: #fff;
}
.top {
  background: url('../img/top_bg.png') center center no-repeat;
  height: 850px;
  padding-top: 40px;
}
.wrapper_top_items {
  width: 1497px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background: url('../img/top_logo.png') no-repeat;
  height: 33px;
  width: 165px;
}
.logo a {
  height: 100%;
  width: 100%;
  padding-left: 160px;
  padding-bottom: 15px;
  text-decoration: none;
}
.menu {
  display: flex;
  align-items: center;
}
.menu a {
  text-decoration: none;
  color: #fff;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 14px;
}
a.link_menu {
  margin-right: 40px;
}
.button_menu {
  border: 1px solid #fff;
  width: 150px;
  height: 42px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.button_menu a {
  padding: 12px 45px 12px 45px;
}
.text_center {
  margin-top: 220px;
  text-align: center;
}
.text_center p {
  color: #fff;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 26px;
  line-height: 2px;
  font-weight: 500;
}
.text_center .big_text {
  font-size: 68px;
}
.search {
  width: 775px;
  margin: auto;
  margin-top: 100px;
}
input[type="search"] {
  height: 60px;
  width: 580px;
  background: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 30px;
}
input[type="submit"] {
  background: url('../img/input_bg.png') no-repeat;
  border-radius: 0 5px 5px 0;
  height: 60px;
  width: 200px;
  border: none;
  margin-left: -10px;
  padding-left: 20px;
  color: #fff;
}
.amount {
  width: 1200px;
  height: 140px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  margin: auto;
  margin-top: -70px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.amount_items {
  text-align: center;
  height: 80px;
  width: 300px;
}
.destination {
  border-right: 1px solid silver;
}
.cities {
  border-right: 1px solid silver;
}
.boats {
  border-right: 1px solid silver;
}
.number {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Myriad Pro Regular', sans-serif;
  line-height: 10px;
}
.text {
  font-size: 13px;
  color: gray;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-weight: 600;
}
.portfolio {
  width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.portfolio p {
  font-family: 'Raleway', sans-serif;
  color: #717171;
  }
.portfolio .pf_text1 {
  font-size: 26px;
  letter-spacing: 2px;
  color: #343435;
}
.portfolio_img1 {
  width: 1200px;
  height: 382px;
  margin-top: 100px;
  display: flex;
}
.portfolio_img2 {
  width: 1200px;
  height: 382px;
  display: flex;
}
.img1 {
  background: url('../img/img1.png') center center no-repeat;
  width: 770px;
  height: 362px;
  margin: 15px;
  padding: 30px 30px;
  position: relative;
}
.number_amp {
  background: url('../img/number.png') center center no-repeat;
  width: 82px;
  height: 45px;
  display: flex;
}
.portfolio .number_boats {
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-left: 40px;
}
.number_text {
  position: absolute;
  bottom: 10px;
  opacity: 0.9;
}
.portfolio .number_text1 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 5px;
  text-align: left;
}
.portfolio .number_text2 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.img2 {
  background: url('../img/img2.png') center center no-repeat;
  width: 370px;
  height: 362px;
  margin: 15px;
  padding: 30px 30px;
  position: relative;
}
.img3 {
  background: url('../img/img3.png') center center no-repeat;
  width: 370px;
  height: 362px;
  margin: 15px;
  padding: 30px 30px;
  position: relative;
}
.img4 {
  background: url('../img/img4.png') center center no-repeat;
  width: 370px;
  height: 362px;
  margin: 15px;
  padding: 30px 30px;
  position: relative;
}
.img5 {
  background: url('../img/img5.png') center center no-repeat;
  width: 370px;
  height: 362px;
  margin: 15px;
  padding: 30px 30px;
  position: relative;
}
.button_portfolio {
  width: 310px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid gray;
  color: #fff;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 14px;
}
.link_button_portfolio {
  color: dimgrey;
  text-decoration: none;
  padding: 22px 34px 22px 34px;
}
.wrapper_offers {
  background: url('../img/offers_bg.png') center center no-repeat;
  height: 600px;
  width: 100%;
  margin-top: 80px;
  font-family: 'Myriad Pro Regular', sans-serif;
  padding-top: 140px;
  color: #fff;
}
.offer1 {
  font-size: 66px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  line-height: 5px;
}
.offer2 {
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  line-height: 5px;
}
.button_offers {
  background: #e7434e;
  width: 320px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}
.link_button_offers {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 23px 50px 23px 50px;
}
.preview {
  width: 1200px;
  margin: auto;
  text-align: center;
}
.preview1 {
  font-size: 30px;
  font-family: 'Myriad Pro Regular', sans-serif;
  color: dimgrey;
  margin-top: 80px;
}
.preview2 {
  font-size: 16px;
  font-family: 'Myriad Pro Regular', sans-serif;
  color: dimgrey;
}
.wrapper_preview_img1 {
  margin-top: 80px;
  color: #fff;
}
.wrapper_preview_img1 p {
  opacity: 0.9;
}
.box_preview_img1 {
  display: flex;
}
.preview_img1 {
  background: url('../img/preview_img1.png') center center no-repeat;
  height: 340px;
  width: 574px;
  margin: 15px;
  position: relative;
  padding: 30px 25px;
  font-family: 'Myriad Pro Regular', sans-serif;
}
.price_boats {
  background: #e7434e;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price_boats p {
  font-size: 16px;
  font-weight: 600;
}
.info_boats {
  position: absolute;
  bottom: 10px;
  text-align: left;
}
.boats_name p {
  line-height: 0px;
  font-size: 30px;
  font-weight: 100
}
.wrapper_info_boats {
  display: flex;
}
.map_marker {
  background: url('../img/map_marker.png') center left no-repeat;
  height: 40px;
  width: 240px;
  display: flex;
}
.map_marker p {
  margin: auto 25px;
}
.account {
  background: url('../img/account.png') center left no-repeat;
  height: 40px;
  width: 240px;
  display: flex;
}
.account p {
  margin: auto 35px;
}
.preview_img2 {
  background: url('../img/preview_img2.png') center center no-repeat;
  height: 340px;
  width: 574px;
  margin: 15px;
  position: relative;
  padding: 30px 25px;
  font-family: 'Myriad Pro Regular', sans-serif;
}
.preview_img3 {
  background: url('../img/preview_img3.png') center center no-repeat;
  height: 340px;
  width: 574px;
  margin: 15px;
  position: relative;
  padding: 30px 25px;
  font-family: 'Myriad Pro Regular', sans-serif;
}
.preview_img4 {
  background: url('../img/preview_img4.png') center center no-repeat;
  height: 340px;
  width: 574px;
  margin: 15px;
  position: relative;
  padding: 30px 25px;
  font-family: 'Myriad Pro Regular', sans-serif;
}
.button_preview {
  width: 230px;
  height: 60px;
  border: 1px solid silver;
  border-radius: 5px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_preview a {
  text-decoration: none;
  font-family: 'Myriad Pro Regular', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 42px 23px 45px;
}
.wrapper_footer {
  background: url('../img/footer_bg.png') center center repeat-x;
  height: 323px;
  margin-top: 100px;
  padding-top: 40px;
}
.footer {
  width: 1200px;
  padding: 0 15px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.footer p {
  font-family: 'Myriad Pro Regular', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}
div .text1 {
  font-size: 16px;
  line-height: normal;
}
.inputs {
  margin-top: 20px;
}
.inputs input[type="email"] {
  height: 40px;
  width: 280px;
  background: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  color: dimgrey;
}
.inputs input[type="submit"] {
  background: #e7434e;
  border-radius: 0 5px 5px 0;
  height: 40px;
  width: 150px;
  border: none;
  margin-left: -10px;
  padding-left: 20px;
  color: #fff;
}
.social {
  display: flex;
  margin-top: 50px;
}
.social div {
  margin-right: 20px;
}
.facebook {
  background: url('../img/facebook.png');
  width: 44px;
  height: 44px;
}
.facebook a{
  padding: 22px;
  text-decoration: none;
}
.twitter {
  background: url('../img/twitter.png');
  width: 44px;
  height: 44px;
}
.twitter a{
  padding: 22px;
  text-decoration: none;
}
.google {
  background: url('../img/google.png');
  width: 44px;
  height: 44px;
}
.google a{
  padding: 22px;
  text-decoration: none;
}
