@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&subset=cyrillic');
body {
  margin: 0 0 0 0;
  height: 3500px;
}
* {
  box-sizing: border-box;
}
.background {

}
.background_top {
  background: url(../img/Photo.png) no-repeat;
  width: 100%;
  height: 1200px;
  background-size: contain;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo_ico {
  background: url(../img/logo.png) no-repeat;
  display: block;
  width: 55px;
  height: 60px;
  float: left;
  margin-right: 20px;
}
.logo_name {
  display: block;
  float: left;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 520;
}
a {
  text-decoration: none;
}
.background_top a:visited {
  color: #fff;
}
a:link {
  color: #fff;
}
.search {
  display: flex;
}
.guide {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 510;
}
.journey {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 510;
}
.hotels {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 510;
}
.travelers {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 510;
}
.search_ico {
  background: url(../img/search.png);
  width: 15px;
  height: 15px;
  margin-top: 5px;
}
.middle {
  height: 1060px;
  width: 100%;

}
.text_top {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 88px;
  font-weight: 520;
  margin-top: 180px;
}
.text_top2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgb(237,105,80);
  font-size: 86px;
  font-weight: 520;
  margin-top: -100px;
}
.text_mid {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  opacity: 0.3;
  margin-top: -80px;
  font-size: 17px;
  font-weight: 520;
}
.text_fall {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 520;
  font-size: 18px;
  margin-top: 270px;
  opacity: 0.8;
}
.button {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #ffc74a;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  margin-top: 50px;
}
.button a {
  color: #000;
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  font-size: 13px;
  height: 100%;
  padding-top: 16px;
  padding-left: 38px;
  width: 100%;
  font-weight: 510;
  opacity: 0.4;
}
.button a:visited {
  color: #000;
}
.categories {
  margin-top: -220px;
  position: relative;
}
.category1 {
  background: url(../img/photo_dark2.png) no-repeat;
  height: 430px;
  width: 19%;
  display:inline-block;
  margin-right: 15px;
  background-size: cover;
}
.category2 {
  background: url(../img/zakopane.png) no-repeat;
  height: 430px;
  width: 19%;
  display:inline-block;
  margin-right: 15px;
  background-size: cover;
}
.category2_link1 a {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 520;
}
.category2_link2 a {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #ffc74a;
  font-weight: 520;
  font-size: 14px;
}
.category3 {
  background: url(../img/sandomierz.png) no-repeat;
  height: 430px;
  width: 20%;
  display:inline-block;
  margin-right: 15px;
  background-size: cover;
}
.category3_link1 a {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 520;
  font-size: 14px;
}
.category3_link2 a {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 520;
  font-size: 14px;
}
.category3_link3 a {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 520;
  font-size: 14px;
}
.category4 {
  background: url(../img/sopot.png) no-repeat;
  height: 430px;
  width: 19%;
  display:inline-block;
  margin-right: 15px;
  background-size: cover;
}
.category4_link1 a {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 520;
}
.category4_link2 a {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #ffc74a;
  font-weight: 520;
  font-size: 14px;
}
.category5 {
  background: url(../img/photo_dark1.png) no-repeat;
  height: 430px;
  width: 19%;
  background-size: cover;
  display:inline-block;
  float: right;
}
.background_mid {
  background-color:  #f9f9fa;
  height: 1250px;
  margin-top: -210px;
}
input[type="search"] {
  margin-top: 210px;
  height: 60px;
  width: 800px;
  border-radius: 40px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  color: #a0a9b3;
}
input[type="submit"] {
  background: url(../img/search.png) no-repeat 50% 50%;
  width: 15px;
  height: 15px;
  border: none;
}
.mid_search {

}
