@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&subset=cyrillic');
body {
  margin: 0 0 0 0;
  height: 3500px;
  background-color:  #f9f9fa;
}
* {
  box-sizing: border-box;
}
.background {
}
.background_top {
  background: url(../img/Photo.png) no-repeat;
  width: 100%;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo_ico {
  background: url(../img/logo.png) no-repeat;
  display: block;
  width: 55px;
  height: 60px;
  float: left;
  margin-right: 20px;
}
.logo_name {
  display: block;
  float: left;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 520;
}
a {
  text-decoration: none;
}
.background_top a:visited {
  color: #fff;
}
a:link {
  color: #fff;
}
.search {
  display: flex;
}
.guide {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 510;
}
.journey {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 510;
}
.hotels {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 510;
}
.travelers {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 510;
}
.search_ico {
  background: url(../img/search.png);
  width: 15px;
  height: 15px;
  margin-top: 5px;
}
.middle {
  height: 1060px;
  width: 100%;

}
.text_top {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 88px;
  font-weight: 520;
  margin-top: 180px;
}
.text_top2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgb(237,105,80);
  font-size: 86px;
  font-weight: 520;
  margin-top: -100px;
}
.text_mid {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  opacity: 0.3;
  margin-top: -80px;
  font-size: 17px;
  font-weight: 520;
}
.text_fall {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 520;
  font-size: 18px;
  margin-top: 270px;
  opacity: 0.8;
}
.button {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #ffc74a;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  margin-top: 50px;
}
.button a {
  color: #000;
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  font-size: 13px;
  height: 100%;
  padding-top: 16px;
  padding-left: 38px;
  width: 100%;
  font-weight: 510;
  opacity: 0.4;
}
.button a:visited {
  color: #000;
}
.categories {
  margin-top: -400px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}
.cat_item {
  width: 20%;
}
.cat_item_inner {
  height: 100px;
  margin: 0px 15px;
  height: 430px;
}
.category1 .cat_item_inner {
  background: url(../img/photo_dark2.png) no-repeat;
  background-size: 100% 100%;
}
.category2 .cat_item_inner {
  background: url(../img/zakopane.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.category2_link1 a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 520;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin-top: 310px;
}
.category2_link2 a {
  font-family: 'Montserrat', sans-serif;
  color: #ffc74a;
  font-size: 14px;
  font-weight: 520;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin-top: 10px;
}
.category3 .cat_item_inner {
  background: url(../img/sandomierz.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.category3_link1 a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 520;
  font-size: 44px;
  display: inline-block;
  margin-top: 185px;
}
.category3_link2 a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 520;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
}
.category3_link3 {
  background-color: #ffc74a;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  align-items: center;
  display: flex;
  margin: 70px auto;
  justify-content: center;
}
.category3_link3 a {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 520;
  font-size: 14px;
  opacity: 0.4;
}
.category4 .cat_item_inner {
  background: url(../img/sopot.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.category4_link1 a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 520;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin-top: 315px;
}
.category4_link2 a {
  font-family: 'Montserrat', sans-serif;
  color: #ffc74a;
  font-weight: 520;
  font-size: 14px;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin-top: 5px;
}
.category5 .cat_item_inner {
  background: url(../img/photo_dark1.png) no-repeat;
  background-size: 100% 100%;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 200px;
}
.go_to p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 510;
  font-size: 30px;
  color: #606f81;
  text-align: center;
}
.container_fluid {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.mid_search {
  width: 800px;
  margin: auto;
}
input[type="search"] {
  height: 60px;
  width: 800px;
  border-radius: 40px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  color: #a0a9b3;
  padding: 0 20px;
}
input[type="submit"] {
  background: url(../img/search.png) no-repeat;
  width: 15px;
  height: 15px;
  border: none;
  margin-left: -40px;
}
.container_link {
  display: flex;
  margin-top: 20px;
  width: 800px;
}
.wrapper_left_link{
  display: flex;
}
.wrapper_right_link{
  display: flex;
  margin-left: 172px;
}
.container_link div>div {
  width: 88px;
  margin-right: 20px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 510;
  font-size: 14px;
}
.container_link .left_link:hover {
  background-color: #ffc74a;
}
.left_link {
  background-color: #bdc8d9;
}
.left_link a {
  color: #fff;
}
.right_link {
  border: 1px solid #bdc8d9;
}
.right_link a {
  color: #8d97a5;
}
.offers_wrapper {
  width: 1200px;
  height: 760px;
  margin: 30px -200px 0 -200px;
  }
.offers_wrapper2 {
  width: 1200px;
  display: flex;
  align-items: center;
}
.offers_wrapper3 {
  width: 1200px;
  display: flex;
  align-items: center;
}
.all_offers {
  width: 370px;
  height: 350px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}
.offers_img {
  height: 170px;
  width: 350px;
  background-color: black;
  margin-top: -160px;
  border-radius: 5px;
}
.all_offers p {
  display: flex;

}
